/*********************************************/
/*              RESET CSS                  "/
/*********************************************/

html {
  box-sizing: border-box;
}
.row,
.col,
.column {
  margin: 0;
  padding: 0;
}
/*********************************************/
/*                IMPORT FONT                "/
/*********************************************/

@font-face {
  font-family: "Dealers";
  src: url("../fonts/Dealers-Shaded.otf");
}
/*********************************************/
/*              GENERAL CSS                  "/
/*********************************************/

body {
  font-family: "Poppins", sans-serif;
  color: #414141;
  background: #ffffff;
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}
a {
  color: #191919;
}
a:hover {
  color: #c7ad88 !important;
  text-decoration: none;
}

/*********************************************/
/*              Header CSS                  "/
/*********************************************/

header {
  position: relative;
  background-color: black;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header .videoH1 {
  font-family: Dealers;
  margin-top: 6rem;
}

header p {
  font-family: Poppins;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url("../img/reservation-image.jpg") black no-repeat center
      center scroll;
  }
  header video {
    display: none;
  }
}

/*********************************************/
/*                UTILITY CSS                "/
/*********************************************/

.main-title {
  font-family: "Dealers";
  font-size: 2.5rem;
  text-align: center;
  letter-spacing: 0.1rem;
}
.hr-style {
  border-bottom: 0.3rem solid #c7ad88;
  width: 100px;
}
.hr-style-left {
  border-bottom: 0.3rem solid #c7ad88;
  width: 100px;
  margin: 0.8rem 0 0 0 !important;
}
.title-section {
  text-align: center;
  margin-bottom: 70px;
  position: relative;
}
.bg-blackboard {
  background-image: url("../img/bg-image-dish.jpg");
  background-size: cover;
  padding: 130px 0;
  width: 100%;
  height: 100%;
}
.bg-blackboard-menu {
  background-image: url("../img/bg-image-dish.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.border-top {
  border-top: 0.3rem solid #c7ad88 !important;
}
a.btn-design {
  background-color: transparent;
  border: 0.2rem solid #c7ad88;
  border-radius: 0;
  padding: 0.8rem 1.2rem;
  color: #c7ad88 !important;
  font-weight: bold;
  letter-spacing: 0.1rem;
  cursor: pointer;
}
a.btn-design:hover {
  color: #fff !important;
  background-color: #c7ad88;
  text-shadow: 2px 2px 0px rgba(150, 150, 150, 1);
}
.btn.btn-design {
  background-color: transparent;
  border: 0.2rem solid #c7ad88;
  border-radius: 0;
  padding: 0.8rem 1.2rem;
  color: #c7ad88 !important;
  font-weight: bold;
  letter-spacing: 0.1rem;
  cursor: pointer;
  font-size: 0.7rem;
}
.btn.btn-design:hover {
  color: #fff !important;
  background-color: #c7ad88;
  text-shadow: 2px 2px 0px rgba(150, 150, 150, 1);
}
.section-title {
  font-family: "Dealers";
  font-size: 5.5rem;
}
.section-subtitle {
  font-size: 1.2rem;
}
#page-title {
  background-image: url(../img/reservation-image.jpg);
  background-attachment: fixed;
  background-position: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 10vh;
  margin-top: 6.2rem;
}
/*********************************************/
/*               PRELOADER CSS               "/
/*********************************************/

body {
  display: hidden;
}
/* Preloader */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 999999;
}
#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-image: url(../img/loader.gif);
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
}
/*********************************************/
/*               BUTTON TOP CSS              "/
/*********************************************/

a#button-to-top {
  display: inline-block;
  background-color: #c7ad88;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
.fa-arrow-up {
  font-size: 2em;
  line-height: 50px;
  color: #2d2f31;
}
#button-to-top:hover {
  cursor: pointer;
  background-color: #8f7959;
}
#button-to-top:active {
  background-color: #555;
}
#button-to-top.show {
  opacity: 1;
  visibility: visible;
}

/*********************************************/
/*              NAVBAR CSS                  "/
/*********************************************/

a.navbar-brand {
  color: #c7ad88 !important;
  font-size: 1.7rem !important;
  font-weight: bold;
  letter-spacing: 0.2rem;
}
.navbar {
  background-color: #191919 !important;
  padding: 1.5rem;
  border-bottom: 0.3rem solid #c7ad88;
  -webkit-box-shadow: -1px 6px 5px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 6px 5px -5px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 6px 5px -5px rgba(0, 0, 0, 0.75);
}
a.nav-link {
  letter-spacing: 0.1rem;
  color: #c7ad88 !important;
  border: 0.1rem solid transparent;
}
a.nav-active,
a.nav-link:hover {
  border: 0.1rem solid #fff;
  color: #fff !important;
  transition: all 0.009s ease;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}
.fa.fa-bars {
  color: #c7ad88 !important;
}
/*********************************************/
/*                 MENU CSS                  "/
/*********************************************/

.card {
  border: none;
  border-radius: 0;
  -webkit-box-shadow: -1px 2px 20px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 2px 20px -6px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 2px 20px -6px rgba(0, 0, 0, 0.75);
}
.card-body {
  background-color: #2d2f31;
}
.menu-content {
  margin-top: 1rem;
}
.menu-content h3 {
  font-size: 1.3rem;
  font-weight: bold;
  color: #c7ad88;
  text-align: center;
  letter-spacing: 0.2rem;
}
.menu-content p {
  text-align: center;
  letter-spacing: 0.2rem;
  font-size: 0.9rem;
  color: #c7ad88;
}
.card-img-top {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.card-custom-margin {
  margin-top: 30px;
}
/*********************************************/
/*              RESERVATION CSS              "/
/*********************************************/

#reservation {
  background-image: url(../img/reservation-image.jpg);
  background-attachment: fixed;
  background-position: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  min-height: 55vh;
}

#reservation .row > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 72px;
  margin-bottom: 72px;
}

#reservation .row > div a {
  width: 180px;
  height: 54px;
}

/*********************************************/
/*                 CONTACT CSS               "/
/*********************************************/

.contact-section #contact-form {
  margin: 0 auto;
  max-width: 770px;
}
.contact-section #contact-form input[type="text"],
.contact-section #contact-form textarea {
  display: block;
  outline: none;
  border: 2px solid #666666;
  margin: 0 0 1.875rem;
  width: 100%;
  padding: 10px 20px;
  background: transparent;
  color: #999999;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.contact-section #contact-form textarea {
  height: 130px;
}
.contact-section #contact-form .center-area {
  text-align: center;
}
.contact-section div.contact-info {
  padding-top: 60px;
  max-width: 1000px;
  margin: 0 auto;
}
.contact-section div.contact-info .contact-info-box {
  margin-bottom: 20px;
  overflow: hidden;
  text-align: center;
}
.contact-section div.contact-info .contact-info-box span,
.contact-section div.contact-info .contact-info-box i {
  font-size: 2.5rem;
  color: #c7ad88;
}
.contact-section div.contact-info .contact-info-box h2 {
  color: #ffffff;
}
.contact-section div.contact-info .contact-info-box p {
  margin-bottom: 0;
  color: #fff;
}
/*********************************************/
/*                 FOOTER CSS                "/
/*********************************************/

#footer {
  background-color: #191919;
  border-bottom: 5px solid #c7ad88;
  padding: 50px 0px;
}
.footer-title {
  color: #c7ad88;
  font-size: 18px;
  font-family: Dealers;
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
}
.footer-description {
  font-size: 0.9rem;
}
.last-footer {
  background-color: #191919;
  padding: 30px 0px;
}
.copyright {
  color: #c7ad88;
  font-size: 0.9rem;
}
input.subscribe-input {
  display: block;
  outline: none;
  border: 2px solid #666666;
  width: 100%;
  padding: 18px 20px;
  background: #191919;
  color: #999999;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  border-radius: 0;
}
input.subscribe-input:focus {
  background: #191919;
  color: #999999;
  border: 2px solid #666666;
  box-shadow: none;
}
/*********************************************/
/*                  ABOUT CSS                "/
/*********************************************/

#about {
  padding: 130px;
}
.bordered-image {
  border-radius: 50%;
  width: 150px;
  margin: 1rem;
  border: 0.2rem solid #c7ad88;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  padding: 0;
}
.quote {
  font-style: italic;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  line-height: 1.5rem;
  padding: 0 0.5rem;
  margin-top: 0.5rem;
}
.cite-name {
  color: #fff;
  font-size: 0.9rem;
  text-align: center;
  letter-spacing: 0.1rem;
}
.cite-description {
  color: #dedede;
  font-size: 0.7rem;
  text-align: center;
  letter-spacing: 0.1rem;
  font-style: italic;
}
/*********************************************/
/*                 BLOG LIST                 "/
/*********************************************/

#blog {
  padding: 130px 0;
}
.blog-list-item {
  margin-bottom: 6rem;
}
.social {
  position: relative;
  width: 60%;
  max-width: 200px;
  margin: 2rem auto 0 auto;
  background-color: #ffffff;
  z-index: 1;
}
.social-item a {
  text-decoration: none;
  color: #2d2f31;
  font-size: 0.9rem;
  z-index: 9999;
}
.social-item a:hover {
  color: #c7ad88;
}
.blog-content h1 {
  font-weight: bold;
  letter-spacing: 0.5rem;
  margin-top: 1.2rem;
  font-size: 2.3rem;
}
.blog-content p {
  padding: 0 6rem;
  margin-top: 1rem;
}
#blog-single {
  padding: 130px 0;
  margin-top: 90px;
}
.border-social {
  position: relative;
  border: 1px solid #c7ad88;
  margin: -13px auto 0 auto;
  z-index: 0;
  width: 60%;
}

.list-inline {
  margin: 0.8rem 0 !important;
}
.list-inline a {
  font-size: 0.8rem;
  color: #c7ad88;
  text-transform: uppercase;
}
.list-inline a:hover {
  text-decoration: none;
}
span.slash {
  font-size: 0.8rem;
  color: #c7ad88;
}
.paginations {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin-top: 10px;
}
.paginations li {
  display: inline;
  text-align: center;
}
.paginations a {
  float: left;
  display: block;
  font-size: 14px;
  text-decoration: none;
  padding: 5px 12px;
  color: #c7ad88;
  margin-left: -1px;
  border: 1px solid transparent;
  line-height: 1.5;
}
.paginations a .active {
  cursor: default;
}
.paginations a:active {
  outline: none;
}
.paginations a {
  margin-left: 3px;
  padding: 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 100%;
}
.paginations a:hover {
  border-color: #c7ad88;
}
#activePage {
  background-color: #c7ad88;
  color: white;
}
.related-post-content {
  display: block;
  padding: 0 1.6rem;
}
.related-post-content a {
  font-size: 1rem;
  letter-spacing: 0.1rem;
  color: #414141;
  text-decoration: none;
}
/*********************************************/
/*                MENU PAGE CSS              "/
/*********************************************/

.menu-container {
  width: 100%;
}
.menu-text {
  flex-basis: 50%;
}

.menu-image1 {
  background-image: url("../img/menu-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  min-height: 300px;
  width: 100%;
}

.menu-image2 {
  background-image: url("../img/menu-2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  min-height: 300px;
  width: 100%;
}

.menu-content {
  margin-top: 1.5rem;
}
.menu-text {
  padding: 83px 100px !important;
}
p.menu-name {
  font-size: 1.3rem;
  text-align: left;
  text-transform: uppercase;
  color: #191919;
  font-weight: bold;
}
p.menu-price {
  margin-left: 9rem;
  font-weight: normal;
  color: #191919;
  font-size: 1.3rem;
}

/*********************************************/
/*               CSS MEDIA QUERIES           "/
/*********************************************/
@media (max-width: 360px) {
  header h1 {
    font-size: 3rem;
  }
}

@media (max-width: 641px) {
  .blog-content p {
    padding: 0 2rem;
    margin-top: 1rem;
  }

  .menu-content {
    flex-direction: column;
  }

  p.menu-price {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  #popular-dishes .row > div {
    margin: 30px 0;
  }

  #popular-dishes .row > div:last-child {
    margin-bottom: 0;
  }

  .blog-content p {
    padding: 0 2rem;
    margin-top: 1rem;
  }
}

@media (min-width: 992px) {
  header h1 {
    font-size: 5rem;
  }
}
